{% block content %}   

<h1>Sassified Bootstrap</h1>

<p>
	This is a blank canvass with  <a href="https://github.com/jlong/sass-bootstrap">Sass-Bootstrap</a> loaded.
</p>

<a href="/example">Here's an example page.</a>

{% endblock %}